:root {
	--border-image: "https://static.miraheze.org/massacardswiki/4/46/Border.png";
	--border-scale-factor: 5;
	scrollbar-color: red black;
	scrollbar-width: thin;
}

body {
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	color: white;
	background-color: black;
	margin: 0;
}

input {
	background: none;
	color: white;
}

button, .button {
	cursor: pointer;
}

a {
	color: red;
}

header {
	height: 4rem;
	width: 100%;
	padding: 0.2rem;
	background-color: red;
	position: sticky;
	z-index: 50;
	top: 0;

	& img {
		filter: brightness(0);
		height: 100%;
	}
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.thick-border {
	border: 0.5em solid red;
}

.title {
	font-size: 3em;
	left: 50%;
	line-height: 0;
}

.subtitle {
	font-size: 1.25em;
	margin-top: 0.25em;
	margin-bottom: 1em;
}

.randomize-container {
	width: 90%;
	height: 12rem;
	margin: 0 auto 2.5em;
	padding: 1em;
}

.randomize-scenario {
	font-size: 1.25em;
	height: 100%;
	aspect-ratio: 1;
	padding: 0;
	padding-bottom: 0.25em;
	border: none;

	& span {
		width: 100%;
		height: 1.25em;
		margin-bottom: 0.25em;
		display: inline-block;
	}

	& img {
		height: calc(100% - 1.5em);
		margin: auto;
	}
}

button, role-button {
	border: 0.125em solid red;
	background-color: rgba(255, 0, 0, 0);
	color: white;
	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: linear;
}

button:hover, role-button:hover {
	background-color: rgba(255, 0, 0, 0.375);
}

.scenario-name-container {
	font-size: 2em;
	width: 90%;
	height: 1.5em;
	margin: auto;
	position: relative;
}

.scenario-name {
	text-align: center;
	border: none;
	width: 100%;
	height: 100%;
}

#share {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	aspect-ratio: 1;
	border: 0;
	padding: 0;
}

#share:hover {
	background: initial;
}

dialog {
	margin: auto;
	width: 80%;
	height: 75%;
	background-color: inherit;
	color: white;
	border: 0.5rem solid red;
	overflow: hidden;
}

::backdrop {
	background-color: black;
	opacity: 75%;
}

.sink-input {
	position: absolute;
	width: calc(100% + 1em);
	height: calc(100% + 1em);
	left: -0.5em;
	top: -0.5em;
	z-index: -1;
}

.close-share {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	height: 2.5em;
}

.share-scenario-name {
	display: block;
	font-size: 1.75em;
	width: 100%;
	margin-bottom: 0.25em;
}

.share-role {
	width: 8em;
	margin: 0.5em;
}

.abs {
	position: absolute;
	transform: translateX(-50%);
}

.dim-on-hover {
	transition-property: filter;
	transition-duration: 0.25s;
	transition-timing-function: linear;
}

.dim-on-hover:hover {
	filter: invert(45%);
}

.role-container {
	/* border: 1em solid red;
	border-image: var(--border-image); */
	display: flex;
	margin: auto;
	justify-content: center;
	padding: 0.5em;
	flex-wrap: wrap;
}

.border-container {
	display: grid;
}

.border, .border-content {
	grid-row: 1;
	grid-column: 1;
}

.border {
	z-index: -1; /* Display border under any actual content */
	
	border-style: solid;
	border-width:
		calc(9px * var(--border-scale-factor))
		calc(20px * var(--border-scale-factor))
		calc(3px * var(--border-scale-factor))
		calc(3px * var(--border-scale-factor));
	border-image-source: url("https://static.miraheze.org/massacardswiki/4/46/Border.png");
	border-image-slice: 144 320 48 48; /* Don't ask how i got these numbers i forgor */
}

.border-content {
	border: calc(2px * var(--border-scale-factor)) solid transparent;
}